a * {
  text-decoration: none;
  color: #8873b4;
}
.logo-bar-container {
  display: flex;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  min-width: 35vmin;
  color: #8873b4;
}
