.pastEventsPictureCollage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;

  padding-left: 5px;
  margin: 10;
  border-left: 2px solid;
}
.purpleBorder {
  border-color: #8770b1;
}

.pastEventTitle {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 1.2em;
  text-align: left;
}

.purpText {
  color: #8770b1;
}

.blueText {
  color: #9cdaf7;
}

.blueBorder {
  border-color: #9cdaf7;
}

.pastEventsPictureCollage > * {
  height: 150px;
}

.image {
  margin: 8px;
}

@media screen and (min-width: 800px) {
  .pastEventTitle {
    font-size: 1.4em;
  }

  .pastEventsPictureCollage > * {
    height: 210px;
  }

  .image {
    margin: 15px;
  }
}
