.admin-buttons {
    display: flex;
    justify-content: flex-end;
}

.Edit-Button {
    font-size: 17px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
}

.Edit-Button:hover {
    text-decoration: underline;
}

.delete-announcement-button {
    font-size: 30px;
    color: rgb(255, 67, 67);
}

.Cancel {
    margin-right: 20px;
    float: left;
}

.Delete {
    float:right;
}

/* Parent Container for a single expanded upcoming event  */
.Collapsed {
    background-color: #1D1D1D;
    display: flex;
    margin-bottom: 20px;
    border-radius: 20px;
    height: 70px;
    transition: 150ms;
}

/* Parent Container for a single expanded upcoming event  */
.Expanded {
    background-color: #1D1D1D;
    display: flex;
    margin-bottom: 20px;
    border-radius: 20px;
    height: 350px;
    transition: 150ms;
}

/* Toggling Collapse/Expanded Button stylings */
.Toggle-Button {
    border: none;
    background-color: #1d1d1d;
    padding: 5px 5px;
    width: 5px;
    height: 5px;
    outline: 0px;
    float: right;
    display: inline-block;
    border-right: 3px solid #FFFFFF;
    border-top: 3px solid #FFFFFF;
}
.clickable {
    cursor: pointer;
}



/************************ EXPANDED EVENT STYLINGS ************************/
/* Container for all text: Title, date, description*/
.Expanded-Info { 
    width: 64%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
}

/* Title stylings */
.Expanded-Title {
    font-size: 20px;
    color: #CD96F9;
    display: -webkit-box;   
    -webkit-line-clamp: 2;   
    -webkit-box-orient: vertical;     
    overflow: hidden;
    text-align: left;
}

/* Description box stylings */
.Expanded-Desc {
    height: 226px;
    position: relative;
    overflow-y: scroll;
}

.last-line-spacer {
    height: 2em;
}

.dick {
    flex-grow: 1;
    position: relative;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.Expanded-Desc-fade{
    content: "";
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 2em;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(29, 29, 29) 60%);
}

/* Date stylings */
.Expanded-Date {
    margin: 10px 0px 5px;
    font-size: 15px;
    color: #24A4D3;    
    text-align: left;
}


/* Stylings for buttons and their containers */
.Event-Buttons {
    display: flex;
    justify-content: space-between;
    padding-right: 10%;
    height: 37px;
}

/* Default stylings for the two buttons Learn More and Expanded */
.Button {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    width: 40%;
    height: 30px;
}

.LearnMore-Button {
    background-color: #55B5D3;
}

.Register-Button {
    background-color: #CD96F9;
}

.Expanded-Picture-Button { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 36%;
}

/* Image container */
.Inner-Picture {
    height: 95%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-right: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}


/* Stylings for the image itself */
.Inner-Picture img {
    max-height: 100%;
    max-width: 100%;
}

/* Button container */
.Expanded-Button {
    height: 5%;
    padding-top: 12px;
    padding-right: 12px;
}

.Button-Expanded {
    transform: rotate(135deg);
}

.current-event-body {
    color: #ffffff;
}


.current-event-body .ql-editor{
    padding: 0px;
}
/************************ END OF EXPANDED EVENT STYLINGS  ************************/




/************************    COLLAPSED EVENT STYLINGS     ************************/ 
.Collapsed-Text {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    padding-left: 20px;
}

.Collapsed-Button-Div {
    width: 10%;
    padding-top: 12px;
    padding-right: 12px;
}

.Collapsed-Title {
    font-size: 20px;
    color: #CD96F9;
    display: -webkit-box;   
    -webkit-line-clamp: 1;   
    -webkit-box-orient: vertical;     
    text-align: left;
}

.Collapsed-Date{
    margin: 0 !important;
    font-size: 15px;
    color: #24A4D3;   
    text-align: left;
}

.Button-Collapsed {
    transform: rotate(315deg);
}
/************************ END OF COLLAPSED EVENT STYLINGS ************************/
