@import "react-image-gallery/styles/css/image-gallery.css";

.admin-buttons {
    display: flex;
    justify-content: flex-end;
}

.Edit-Button {
    font-size: 17px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
}

.Edit-Button:hover {
    text-decoration: underline;
}

.delete-announcement-button {
    font-size: 30px;
    color: rgb(255, 67, 67);
}

.clickable {
    cursor: pointer;
}

.Cancel {
    margin-right: 20px;
    float: left;
}

.Delete {
    float: right;
}


/* Parent Container for a single expanded upcoming event  */
.ep-event-expanded {
    background-color: #1D1D1D;
    margin-bottom: 20px;
    border-radius: 20px;
    height: 300px;
    padding: 15px 20px 20px 20px;
    display: flex;
    flex-direction: column;
}

.mid-section {
    display: flex;
}

/* Title stylings */
.ep-expanded-title {
    font-size: 20px;
    color: #CD96F9;
    display: -webkit-box;   
    -webkit-line-clamp: 2;   
    -webkit-box-orient: vertical;     
    overflow: hidden;
    text-align: left;
    height: 60px;
}

/* Description box stylings */
.ep-expanded-desc {
    height: 137.78px;
    position: relative;
    overflow-y: scroll;
}

.last-line-spacer {
    height: 2em;
}

.dick {
    flex-grow: 1;
    position: relative;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.ep-expanded-desc-fade {
    content: "";
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 2em;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(29, 29, 29) 60%);
}

/* Date stylings */
.ep-expanded-time {
    margin: 10px 0px 5px;
    font-size: 15px;
    color: #24A4D3;    
    text-align: left;
    display: -webkit-box;   
    -webkit-line-clamp: 1;   
    -webkit-box-orient: vertical;     
    overflow: hidden;
}

.ep-left {
    width: 50%;
}

.ep-right { 
    width: 50%;
    height: 175px;
    padding-left: 20px;
    padding-bottom: 20px;
}

/* Stylings for buttons and their containers */
.small-event-buttons-area {
    display: flex;
    justify-content: space-between;
    /* padding-right: 10%; */
    height: 30px;
}

/* Default stylings for the two buttons Learn More and Expanded */
.event-button {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    width: 40%;
    height: 30px;
    transition: 150ms;
}

.LearnMore-Button {
    background-color: #55B5D3;
    transition: 150ms;
}

.LearnMore-Button:hover {
    background-color: #008bb6;
    transition: 150ms;
}

.LearnMore-Button a {
    color: inherit;
    width: 100%;
    line-height: 30px;
    transition: 150ms;
}

.LearnMore-Button:hover a  {
    color: inherit;
    text-decoration: none;
}

.Register-Button {
    background-color: #CD96F9;
    transition: 150ms;
}

.Register-Button:hover {
    transition: 150ms;
    background-color: #9d28fc;
}

.Register-Button-disabled {
    border: solid 2px #888888;
    transition: 150ms;
    cursor: default;
    color:#888888
}



/* Image container */
.gallery-container {
    display: flex;
    height: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    /* border-radius: 15px; */
}


/* Stylings for the image itself */
.gallery-container div{
    height: 100%;
}

.gallery-container .image-gallery-image{
    height: 100%;
    width: auto;
}

.ep-quill {
    color: #ffffff;
}


.ep-quill .ql-editor {
    padding: 0px;
}

.clickable {
    cursor: pointer;
}

