.title-container b {
  font-size: 28px;
  color: #84bad3;
}

#mc-embedded-email {
  display: flex;
}

#mc-email-form-input-section > * {
  margin-top: 10px;
}

.form-label {
  color: #9cdaf7;
  text-align: left;
  width: 100%;
}

.mail-input {
  width: 100%;
}

#message {
  /* height: 200px; */
  width: 100%;
}

#mc-embed-signup {
  color: #9cdaf7;
  text-align: center;
}

#mc-label {
  width: 100%;
  margin: 0;
}

#mce-EMAIL {
  width: 80%;
  padding: 4px 10px;

  background-color: rgb(23, 23, 23);
  color: rgb(222, 220, 220);
  border: none;
}

#mc-input-field {
  position: absolute;
  left: -5000px;
  border-right: 10px;
}

#mc-subscribe-button {
  background-color: #8770b1;
  padding: 5px 11px;
}

#mc-subscribe-button a {
  color: inherit;
}

#mc-subscribe-button:hover a {
  color: inherit;
  text-decoration: none;
}

#signup-msg {
  color: white;
}
