.App {
  text-align: center;
  background-color: #000;
}

.App-logo {
  height: 35vmin;
  pointer-events: none;
}

.logo-header {
  min-height: 40vmin;
}

.App-header {
  background-color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
  min-width: 50vmin;
}

.App-link {
  color: #61dafb;
}

.body {
  color:#FFF;
  background-color: #000;
}